<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--===== FAVICON =====-->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

  <script src="https://cdn.tailwindcss.com"></script>
  
  <!--===== STYLESHEET =====-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <!--===== ICON_URL =====-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

  <title>STEC | Result View </title>
</head>

<body class="w-full h-full bg-[#F5FAFF] tracking-tighter">

  <main class="flex flex-col w-full min-h-screen overflow-hidden">
    <section class="flex-grow">
      
      <div class="z-[9999] font-cy fixed top-0 left-1/2 transform -translate-x-1/2 w-[350px] bg-green-100 text-green-700 rounded-bl-lg rounded-br-lg shadow-md">
        <% if (messages.success) { %>
        <p class="p-4 text-center"><%= messages.success %></p>
        <% } %>
      </div>
      
      <div class="z-[9999] font-cy fixed top-0 left-1/2 transform -translate-x-1/2 w-[350px] bg-red-100 text-red-700 rounded-bl-lg rounded-br-lg shadow-md">
        <% if (messages.error) { %>
        <p class="p-4 text-center"><%= messages.error %></p>
        <% } %>
      </div>
      
      
      <!--===== RESULT_VIEW_PAGE =====-->
      
      <section class="font-cy w-full min-h-screen mt-12 md:mt-28 pb-12">
        <!-- Back Button -->
        <div class="mt-8 w-full flex justify-around">
          <a href="/student/class" class="inline-flex items-center text-blue-600 text-sm bg-blue-100 px-4 py-2 pr-6 hover:bg-blue-200 rounded-lg">
            <i class="bx bx-left-arrow-alt text-md mr-2 mt-1"></i> Back
          </a>
          <h1 class="text-2xl font-bold text-gray-800 mr-2">Result mark sheet</h1>
        </div>
        
         <div class="w-full h-full">
            <% if (result === null){ %>
              <p class="flex items-center justify-center text-sm text-zinc-300 mt-56">Result not found!</p> 
            <% } else {%>
              <div class="container mx-auto p-4 mt-4">
                      <div class="shadow-md rounded-md overflow-hidden">
                        <div class="p-4 border-b border-gray-200">
                          <p class="text-sm text-gray-500">Roll: <span class="font-medium"><%= result.roll %></span></p>
                          <p class="text-sm text-gray-500">Name: <span class="font-medium"><%= result.name %></span></p>
                          <p class="text-sm text-gray-500">Class: <span class="font-medium"><%= result.className %></span></p>
                        </div>
                        <table class="table-auto w-full text-left">
                            <thead>
                              <tr class="bg-gray-100 border-b border-gray-200">
                                <th class="px-4 py-2 text-gray-600">Subject</th>
                                <th class="px-4 py-2 text-gray-600">CQ</th>
                                <th class="px-4 py-2 text-gray-600">MCQ</th>
                                <th class="px-4 py-2 text-gray-600">Total</th>
                                <th class="px-4 py-2 text-gray-600">GPA</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Compulsory Subjects -->
                            <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">Bangla 1st Paper</td>
                                <td class="px-4 py-2"><%= result.banglaFirstPaper.cq %></td>
                                <td class="px-4 py-2"><%= result.banglaFirstPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.banglaFirstPaper.cq + result.banglaFirstPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.banglaFirstPaper.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">Bangla 2nd Paper</td>
                                <td class="px-4 py-2"><%= result.banglaSecondPaper.cq %></td>
                                <td class="px-4 py-2"><%= result.banglaSecondPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.banglaSecondPaper.cq + result.banglaSecondPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.banglaSecondPaper.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">English 1sr Paper</td>
                                <td class="px-4 py-2"><%= result.englishFirstPaper.cq %></td>
                                <td class="px-4 py-2"><%= result.englishFirstPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.englishFirstPaper.cq + result.englishFirstPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.englishFirstPaper.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">English 2nd Paper</td>
                                <td class="px-4 py-2"><%= result.englishSecondPaper.cq %></td>
                                <td class="px-4 py-2"><%= result.englishSecondPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.englishSecondPaper.cq + result.englishSecondPaper.mcq %></td>
                                <td class="px-4 py-2"><%= result.englishSecondPaper.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">Math</td>
                                <td class="px-4 py-2"><%= result.math.cq %></td>
                                <td class="px-4 py-2"><%= result.math.mcq %></td>
                                <td class="px-4 py-2"><%= result.math.cq + result.math.mcq %></td>
                                <td class="px-4 py-2"><%= result.math.gpa %></td>
                              </tr>
                             <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">Science</td>
                              <td class="px-4 py-2"><%= result.science.cq %></td>
                                <td class="px-4 py-2"><%= result.science.mcq %></td>
                                <td class="px-4 py-2"><%= result.science.cq + result.science.mcq %></td>
                                <td class="px-4 py-2"><%= result.science.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">BGS</td>
                                <td class="px-4 py-2"><%= result.bgs.cq %></td>
                                <td class="px-4 py-2"><%= result.bgs.mcq %></td>
                                <td class="px-4 py-2"><%= result.bgs.cq + result.bgs.mcq %></td>
                                <td class="px-4 py-2"><%= result.religion.gpa %></td>
                             </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">ICT</td>
                                <td class="px-4 py-2"><%= result.ict.cq %></td>
                                <td class="px-4 py-2"><%= result.ict.mcq %></td>
                                <td class="px-4 py-2"><%= result.ict.cq + result.ict.mcq %></td>
                                <td class="px-4 py-2"><%= result.ict.gpa %></td>
                              </tr>
                              <tr class="border-b border-gray-200">
                                <td class="px-4 py-2">Religion</td>
                                <td class="px-4 py-2"><%= result.religion.cq %></td>
                                <td class="px-4 py-2"><%= result.religion.mcq %></td>
                                <td class="px-4 py-2"><%= result.religion.cq + result.religion.mcq %></td>
                                <td class="px-4 py-2"><%= result.religion.gpa %></td>
                              </tr>
                                <tr class="border-b border-gray-200">
                                  <td class="px-4 py-2">Agriculture</td>
                                  <td class="px-4 py-2"><%= result.agriculture.cq %></td>
                                  <td class="px-4 py-2"><%= result.agriculture.mcq %></td>
                                  <td class="px-4 py-2"><%= result.agriculture.cq + result.agriculture.mcq %></td>
                                  <td class="px-4 py-2"><%= result.agriculture.gpa %></td>
                                </tr>
                            </tbody>
                          </table>
                        <div class="p-4 flex justify-between items-center">
                          <p class="text-gray-800 font-bold">Final GPA: <span class="text-green-500"><%= result.finalGPA %></span></p>
                          <a href="/student/class/six/result/download-pdf/<%= result._id %>" class="flex items-center bg-yellow-100 text-yellow-700 px-4 py-2 rounded-md hover:bg-yellow-200">
                            <i class="bx bx-cloud-download text-lg mr-2"></i>Download PDF
                          </a>
                        </div>
                      </div>
                  </div>
            <% } %>
           </div>
      </section>
      
      <!--====== FOOTER =====-->
    
    <footer class="relative font-cy w-full bg-blue-700 text-white py-8">
      <div class="max-w-7xl mx-auto">
        <div class="flex justify-center space-x-6 mb-6 px-4 sm:px-6 lg:px-8">
          <a href="https://www.facebook.com/mdpobarul.islam.92" target="_blank" class="hover:text-blue-600"><i class="fab fa-facebook"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-instagram"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-twitter"></i></a>
          <a href="#" class="hover:text-gray-300"><i class="fab fa-youtube"></i></a>
        </div>

        
        <div class="text-center text-sm mb-6 px-4 sm:px-6 lg:px-8">
          <p>STEC - Excellence in Coaching</p>
          <p>name: <a href="mailto:swapnotoryeducare@gmail.com" class="hover:text-gray-300">swapnotoryeducare@gmail.com</a> | Phone: <a href="tel:+8801896434842" class="hover:text-gray-300">+8801896434842</a></p>
          <p class="w-full relative top-12">© 2025 STEC. All rights reserved.</p>
        </div>
      </div>
    </footer>
    </section>
  </main>
</body>
</html>